.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .NavBar {
  top: 0;
  position: sticky;
  z-index: 100;
}

main {
  width: 100%;
  height: 100em;
  justify-content: center;
  align-items: center;
} */

/* .CourseList {
  background-color: forestgreen;
  overflow-y: scroll;
  height: 100%;
}

.ReqFields {
  background-color: blue;
  height: 100%;
  top: 100px;
  position: fixed;
} */